FFNativeMovie.v14.suo
FFNativeMovie.sdf
FFNativeMovie.opensdf
FFNativeMovie.VC.db
FFNativeMovie.VC.VC.opendb
x64/
.vs/
FFNativeMovie\Debug
FFNativeMovie\Release
FFNativeMovie\x64
PicoVRPlayer\Debug
PicoVRPlayer\Release
ipch/